body {
margin:0;
font-family:Arial;
background:#0b1220;
}

/* LOGIN */
.authBody {
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.authBox {
width:300px;
padding:20px;
background:#111827;
border-radius:10px;
color:white;
display:flex;
flex-direction:column;
gap:10px;
}

.authBox input {
padding:10px;
border:none;
border-radius:6px;
background:#1f2937;
color:white;
}

.authBox button {
padding:10px;
border:none;
border-radius:6px;
background:#22c55e;
color:white;
cursor:pointer;
}

/* APP */
.app {
display:flex;
height:100vh;
max-width:420px;
margin:auto;
background:#111827;
}

/* USERS */
.users {
width:35%;
background:#0f172a;
overflow-y:auto;
}

.user {
padding:10px;
color:white;
border-bottom:1px solid #1f2937;
cursor:pointer;
}

.user:hover {
background:#1f2937;
}

.hide {
display:none;
}

/* CHAT */
.chatBox {
flex:1;
display:flex;
flex-direction:column;
}

.header {
background:#1f2937;
color:white;
padding:10px;
display:flex;
justify-content:space-between;
}

.chat {
flex:1;
overflow-y:auto;
padding:10px;
display:flex;
flex-direction:column;
gap:5px;
}

.msg {
padding:10px;
border-radius:10px;
max-width:70%;
color:white;
}

.me {
background:#22c55e;
align-self:flex-end;
}

.other {
background:#374151;
align-self:flex-start;
}

.input {
display:flex;
padding:10px;
background:#020617;
}

input {
flex:1;
padding:10px;
border:none;
background:#1f2937;
color:white;
border-radius:20px;
}

button {
margin-left:5px;
border:none;
background:#22c55e;
color:white;
border-radius:50%;
width:40px;
height:40px;
    }
